.generation{
  &__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 2rem;
  }
  &__flex{
    display: flex;
  }
  &__link{
    background: #B9C0C5;
    padding: 1rem;
    border: 1px solid $border;
    transition: .3s linear;
    color: white;
    &:hover{
      color: $black;
      background: white;
      & .generation__img{
        filter: grayscale(0);
      }
    }
  }
  &__img{
    width: 100%;
    background: $black;
    border: 1px solid $black;
    filter: grayscale(100%);
    transition: .3s linear;
  }
}
.img__text{
  bottom: 2rem;
  left: 2rem;
}
.supervisor{
  &__flex{
    gap: 1rem;
  }
  &__card{
    background: white;
    padding: 1rem;
    width: 100%;
  }
  &__img{
    width: 100%;
    border: 1px solid $border;
    background: #bb21dc;
  }
}