.home {
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 1rem;
    gap: 1rem;
  }

  &__card {
    background: white;
    height: 20rem;
    padding: 2rem 1.5rem;
    border-radius: 25px;
    justify-content: flex-end;
    cursor: pointer;

    &-title {
      height: 100%;
    }
  }
}