.home {
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    //grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
  "commercial commercial commercial commercial music music music music"
  "about about about projects projects projects get_in_touch get_in_touch"
  "beauty beauty beauty beauty contacts contacts contacts contacts";
    gap: 1rem;
  }

  &__card {
    background: white no-repeat;
    background-size: cover;
    padding: 2rem 1.5rem;
    height: 100%;
    border-radius: 25px;
    justify-content: flex-end;
    cursor: pointer;
    color: $black;

    &-text-cont {
      left: 0;
      bottom: 0;
      padding: 0 2rem 1.5rem;
    }

    &-title {
      height: 100%;
    }
  }

  &__social {
    bottom: 2rem;
    left: 1.5rem;
  }
}

.main__card {
  min-height: 14rem;
}

.main__card:hover .video-cont {
  background: black;
}

.main__card:hover .video {
  opacity: .6;
}

.disabled-link {
  pointer-events: none;
}